{
  "extends": ["eslint-config-egg", "react-important-stuff"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "getComputedStyle": true
  }
}
